$contentBackground: #fff;
$headerBackground: url(../img/m-h-day.jpg);
$fontTitle: 'Source Sans Pro', sans-serif;
$fontText: 'Source Sans Pro', sans-serif;
$textColor: #2c2f3c;
$colorLine: #14a0c7;
$btnBackground: #699900;
$cardBackground: #21232e;
$cardTextColor: #b6c3ce;
$cardRadius: 7px;
$bannerBackground: linear-gradient(to right, #649413 0%,#47767b 58%,#2f5dd3 100%);
$newColor: (
    white: #fff,
    gray: #c0c3ce
);