$contentBackground: #21232e;
$headerBackground: url(../img/m-h-night.jpg);
$fontTitle: 'Source Sans Pro', sans-serif;
$fontText: 'Fresca', sans-serif;
$textColor: #ffffff;
$colorLine: #ff4e33;
$btnBackground: #e3ac00;
$cardBackground: #3b3f50;
$cardTextColor: #b6c3ce;
$cardRadius: 7px;
$bannerBackground: linear-gradient(to right, #dca107 0%,#b05c34 58%,#96314f 100%);
$newColor: (
    white: #fff,
    gray: #c0c3ce
);


